<%= wiki_page_style %>

<h1><%=wt 'Editing wiki page' %></h1>

<% if params[:preview] %>
<div class="wiki_content">
  <%=wiki_content @page.content %>
</div>
<% end %>

<%= form_for @page, as: :page, html: { class: 'wiki_form', method: :post } do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  <%= hidden_field_tag :path, @page.path %>

  <p><%=wt 'Title:' %><br /><%= f.text_field :title %></p>
  <p><%=wt 'Content:' %><br /><%= f.textile_editor(:content, :rows => 20) %></p>
  <p><%=wt 'Comment on this change (optional):' %><br /><%= f.text_field :comment %></p>

  <input type="submit" name="save" value="<%=wt 'Save page' %>" class="submit" />
<% end %>

<%= textile_editor_initialize %>
