<h1><%=wt 'Editing wiki page' %></h1>

<% if params[:preview] %>
<div class="wiki_content">
  <%=wiki_content @page.content %>
</div>
<% end %>

<%= form_for @page, as: :page, html: { class: 'wiki_form island', method: :post } do |f| %>
  <%= f.hidden_field :previous_version_number, :value => f.object.last_version_number %>
  <%= hidden_field_tag :path, @page.path %>
   <div class="form-group">
    <%= label_tag 'Title:' %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
  <p>
    <%= label_tag "page[category_id]", 'Category' %><br />
    <%= select_tag "page[category_id]", options_from_collection_for_select(Category.all, 'id', 'name', @page.category.try(:id) ), { include_blank: true, class: 'form-control', selectize2: true } %>
  </p>
  <p><%=wt 'Content:' %><br /><%= f.textile_editor(:content, :rows => 20) %></p>
  <div class="form-group">
	  <%= label_tag 'Comment on this change (optional):' %>
	  <%= f.text_field :comment, class: 'form-control' %>
  </div>

  <input type="submit" name="save" value="<%=wt 'Save page' %>" class="btn btn-success" />
<% end %>

<%= textile_editor_initialize %>
