<h1><%=wt 'Creating a new wiki page' %></h1>

<%= wiki_page_form html: { class: 'island' } do |f| %>
  <%= f.hidden_field :previous_version_number, value: f.object.last_version_number %>
  <%= f.hidden_field :creator_id, value: current_user.id %>
  <%= f.hidden_field :updator_id, value: current_user.id %>
  <div class="form-group">
    <%= label_tag 'Title:' %>
    <%= f.text_field :title, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= label_tag "page[category_id]", 'Category' %><br />
    <%= select_tag "page[category_id]", options_for_select(nested_set_options(Category) {|i| "#{'-' * i.level} #{i.name}" } ), { include_blank: true, class: 'form-control', selectize2: true} %>
  </div>
  <p>
    <%= label_tag 'Content:' %><br />
    <%= f.text_area :content, class: 'tinymce', rows: 40, cols: 120 %>
  </p>
  <%= f.hidden_field :comment, value: 'First Revision'%>
  <%= hidden_field_tag :path, @page.path %>

  <input type="submit" value="<%=wt 'Create page' %>" class="submit btn btn-success" />
<% end %>

<%= tinymce %>
